{% extends 'base.html.twig' %}

{% block title %}Pokemon{% endblock %}

{% block body %}
    <h1>Pokemon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pokemon.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pokemon.nom }}</td>
            </tr>
            <tr>
                <th>Levelevolution</th>
                <td>{{ pokemon.levelevolution }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pokemon_index') }}">back to list</a>

    <a href="{{ path('pokemon_edit', {'id': pokemon.id}) }}">edit</a>

    {{ include('pokemon/_delete_form.html.twig') }}
{% endblock %}
